<div id="contents">

  <section>

    <h2>投稿一覧</h2>

    <div class="list">
      <%# ↓この画像を投稿したユーザーのサムネイルにする %>
      <%= image_tag 'sample1.jpg' %>
      <%# ↓投稿タイトル %>
      <h4>サービスの見出しを入れます。</h4>
      <%# ↓投稿内容 %>
      <p>説明を入れます。</p>
    </div>

    <div class="list">
      <%= image_tag 'sample1.jpg' %>
      <h4>ここの見出しの色は、cssフォルダのstyle.cssの「.list h4」で設定されているcolorのコードで変更できます。</h4>
      <p>左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。</p>
    </div>

  </section>

</div>